<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.ranian.qaboard.mapper.BoardMapper">

	<sql id="search">
		<if test="type == 'writer'">
			where writer like concat('%', #{keyword}, '%')
		</if>
		<if test="type == 'title'">
			where title like concat('%', #{keyword}, '%')
		</if>
		<if test="type == 'content'">
			where content like concat('%', #{keyword}, '%')
		</if>
	</sql>

	<select id="getList" resultType="kr.ranian.qaboard.entity.Board" parameterType="kr.ranian.qaboard.entity.Criteria">
		select * 
		from tblBoard
		<include refid="search" /> 
		order by boardGroup desc, boardSequence asc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<insert id="insert" parameterType="kr.ranian.qaboard.entity.Board">
		insert into tblBoard(idx, memID, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)
		select 
			IFNULL(MAX(idx)+1, 1), #{memID}, #{title}, #{content}, #{writer},
			IFNULL(MAX(boardGroup)+1, 0), 0, 0, 1
		from tblBoard
	</insert>
	
	<insert id="insertSelectKey" parameterType="kr.ranian.qaboard.entity.Board">
		<selectKey keyProperty="idx,boardGroup" resultType="kr.ranian.qaboard.entity.Board" order="BEFORE">
			select IFNULL(MAX(idx)+1, 1) as idx,
					IFNULL(MAX(boardGroup)+1, 0) as boardGroup
			from tblBoard
		</selectKey>
		
		insert into tblBoard(idx, memID, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)
		values (#{idx}, #{memID}, #{title}, #{content}, #{writer}, #{boardGroup}, 0, 0, 1)
	</insert>
	
	<insert id="replyInsert" parameterType="kr.ranian.qaboard.entity.Board">
		<selectKey keyProperty="idx" resultType="kr.ranian.qaboard.entity.Board" order="BEFORE">
			select IFNULL(MAX(idx)+1, 1) as idx
			from tblBoard
		</selectKey>
		
		insert into tblBoard(idx, memID, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)
		values (#{idx}, #{memID}, #{title}, #{content}, #{writer}, #{boardGroup}, #{boardSequence}, #{boardLevel}, 1)
	</insert>
	
	
	<select id="login" resultType="kr.ranian.qaboard.entity.Member" 
					   parameterType="kr.ranian.qaboard.entity.Member">
		select *
		from tblMember
		where memId = #{memID}
			and memPwd = #{memPwd}
	</select>
	
	<select id="read" resultType="kr.ranian.qaboard.entity.Board">
		select * 
		from tblBoard
		where idx = #{idx}
	</select>
	
	<update id="update" parameterType="kr.ranian.qaboard.entity.Board">
		update tblBoard
		set
			title = #{title},
			content = #{content}
		where
			idx = #{idx}
	</update>
	
	<delete id="delete">
		update tblBoard
		set
			boardAvailable = 0
		where idx = #{idx}
	</delete>
	
	<update id="replySeqUpdate" parameterType="kr.ranian.qaboard.entity.Board">
		update tblBoard
		set
			boardSequence = boardSequence + 1
		where
			boardGroup = #{boardGroup}
			and boardSequence > #{boardSequence}
	</update>
	
	<select id="totalCount" resultType="int" parameterType="kr.ranian.qaboard.entity.Criteria">
		select count(*) 
		from tblBoard
		<include refid="search" />
	</select>

</mapper>